<h2>フォーム</h2>
<form action="/notes" method="post">
  <input type= "integer" name="id" maxlength=2>
  <p></p>
  <input type= "text" name="title" maxlength=20>
  <p></p>
  <input type= "text" name="content">
  <p></p>
  <button type="submit">保存</button>
</form>
